div{
    font-family: 'Fira Code', monospace;
}
.button{
    height: 50px;
    width: 300px;
    background-color: transparent;
   
}
.button:hover{
    background-color:black;
    color: white;
    opacity: 0.9;
    /* transition-delay: all 0.5s ease; */
}