.footer{
    background-color:rgb(34, 33, 33);
    height: 400px;
    color: white;
    
}

@media only screen and (max-width: 600px) {
    .footer {
      /* background-color: lightblue; */
      height:800px
    }
  }