.header-main{
    background-image: url(../../../images/imagewave-min.png);
    height: 700px !important;
    background-position: center;
    background-size: cover;
    /* height: 700px !important */
}
.header-main-h1{
    
    color: black;
    margin-top: 200px
}
.header-main-h1 h1{
    font-size:65px;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .header-main-h1 h1 {
      font-size:50px;
      font-weight: 600;
    }
  }